/* .formDiv {    
    padding: 10px;    
     border-radius: 5px;    
     
    }    
        
    input[type=text], select     
    {    
      width: 100%;    
      padding: 12px 20px;    
      margin: 8px 0;    
      display: inline-block;    
      border: 1px solid #ccc;    
      border-radius: 4px;    
      box-sizing: border-box;    
    }    
        
    input[type=submit] {    
      width: 100%;    
      background-color: #4CAF50;    
      color: white;    
      padding: 14px 20px;    
      margin: 8px 0;    
      border: none;    
      border-radius: 4px;    
      cursor: pointer;    
    }    
        
    input[type=submit]:hover {    
      background-color: #45a049;    
    }    
    .showError{    
      border-color: #a94442 !important;    
      color: #a94442 !important;    
      margin-bottom: 15px;    
    } */


    
.form-control:focus {
        box-shadow: none;
        border-color: #BA68C8
}
    
.profile-button {
    background: rgb(99, 39, 120);
        box-shadow: none;
        border: none
    }
    
.profile-button:hover {
        background: #682773
    }
    
.profile-button:focus {
        background: #682773;
        box-shadow: none
    }
    
.profile-button:active {
        background: #682773;
        box-shadow: none
    }
    
.back:hover {
        color: #682773;
        cursor: pointer
    }
    
.labels {
        font-size: 11px
    }
    
.add-experience:hover {
        background: #BA68C8;
        color: #fff;
        cursor: pointer;
        border: solid 1px #BA68C8
    }