.navbar {
  height: 65px;
  display: flex;
  align-items: stretch;
  background-color: #f2f5fd;
  position: static;
  justify-content: center;
  flex-wrap: wrap;
  align-content: space-around;
  position: -webkit-sticky !important;
  position: sticky !important;
  top: 0 !important;
  border-bottom: 0.5px solid rgb(231, 228, 228);
  // border-bottom-right-radius: 2000px;






  

  .wrapper {
    // width: 100%;
    // padding: 20px;
    // display: flex;
    // align-items: center;
    // justify-content: space-between;
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    align-content: space-between;


    .search {
      display: flex;
      align-items: center;
      border: 0.5px solid lightgray;
      padding: 3px;

      input {
        border: none;
        outline: none;
        background: transparent;

        &::placeholder {
          font-size: 12px;
        }
      }
    }

    .items {
      display: flex;
      align-items: center;
      

      .item {
        display: flex;
        align-items: center;
        margin-right: 20px;
        position: relative;
        align-items: center;
        padding: 3px;
        cursor: pointer;
        padding-bottom: 9px;

        .icon {
          font-size: 20px;
        }

        .avatar {
          width: 60px;
          height: 40px;
          border-radius: 50%;
          padding-left: 10px;
        }
        

        .counter {
          width: 15px;
          height: 15px;
          background-color: red;
          border-radius: 50%;
          color: white;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 10px;
          font-weight: bold;
          position: absolute;
          top: -5px;
          right: -5px;

          
        }
      }
    }
  }
}
.bg-custom-1 {
  background-color: #85144b;
}

.bg-custom-2 {
background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
}

.dropdown-toggle {
  white-space: nowrap;
}

.dropdown-toggle::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content:none !important; 
  border-top: none !important;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}

.btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active {
  color: none !important; 
  background-color: none !important; 
  border-color: none !important; 
}

.profileImage.btn {
  --bs-btn-padding-x: none !important;
  --bs-btn-padding-y: none !important;
  --bs-btn-font-family: ;
  --bs-btn-font-size: none !important;
  --bs-btn-font-weight: none !important;
  --bs-btn-line-height: none !important;
  --bs-btn-color: #212529;
  --bs-btn-bg: transparent;
  --bs-btn-border-width: none !important;
  --bs-btn-border-color: none !important;
  --bs-btn-border-radius: none !important;
  --bs-btn-hover-border-color: transparent;
  --bs-btn-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15),0 1px 1px rgba(0, 0, 0, 0.075);
  --bs-btn-disabled-opacity: 0.65;
  --bs-btn-focus-box-shadow: 0 0 0 0.25rem rgba(var(--bs-btn-focus-shadow-rgb), .5);
  display: inline-block;
  padding: none !important;
  font-family: var(--bs-btn-font-family);
  font-size: var(--bs-btn-font-size);
  font-weight: var(--bs-btn-font-weight);
  line-height: var(--bs-btn-line-height);
  color: var(--bs-btn-color);
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  border: none !important;
  border-radius: none !important;
  background-color: none !important;
  transition: none !important;;
}



.navbarUl {
  list-style: none;
  margin: 0;
  padding: 0;

}

 

.navbarLi {
    // display: flex;
    align-items: center;
    padding: 3px;
    cursor: pointer;
    padding-bottom: 9px;
  }

  .navbarIcon {
    font-size: 40px;
    // color: #7451f8;
    color: #2f49d1;
  }

.navbarSpan{
    font-size: 20px;
    font-weight: 500;
    color: #888;
    // color: #2f49d1;
    margin-left: 15px;
}

.navbarLi:hover {
  background-color: #ece8ff;
}


.navbar.green-theme{
  height: 65px;
  display: flex;
  align-items: stretch;
  background-color: #a6e4b1;
  position: static;
  justify-content: center;
  flex-wrap: wrap;
  align-content: space-around;
  position: -webkit-sticky !important;
  position: sticky !important;
  top: 0 !important;
  border-bottom: 0.5px solid #054100;
  .wrapper {
    // width: 100%;
    // padding: 20px;
    // display: flex;
    // align-items: center;
    // justify-content: space-between;
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    align-content: space-between;


    .search {
      display: flex;
      align-items: center;
      border: 0.5px solid lightgray;
      padding: 3px;

      input {
        border: none;
        outline: none;
        background: transparent;

        &::placeholder {
          font-size: 12px;
        }
      }
    }

    .items {
      display: flex;
      align-items: center;
      

      .item {
        display: flex;
        align-items: center;
        margin-right: 20px;
        position: relative;
        align-items: center;
        padding: 3px;
        cursor: pointer;
        padding-bottom: 9px;

        .icon {
          font-size: 20px;
          color:#054100;
        }

        .avatar {
          width: 60px;
          height: 40px;
          border-radius: 50%;
          padding-left: 10px;
        }
        

        .counter {
          width: 15px;
          height: 15px;
          background-color: red;
          border-radius: 50%;
          color: white;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 10px;
          font-weight: bold;
          position: absolute;
          top: -5px;
          right: -5px;

          
        }
      }
    }
  }
}

.navbar.blue-theme{
  height: 65px;
  display: flex;
  align-items: stretch;
  background-color: rgb(74, 74, 177);
  position: static;
  justify-content: center;
  flex-wrap: wrap;
  align-content: space-around;
  position: -webkit-sticky !important;
  position: sticky !important;
  top: 0 !important;
  border-bottom: 0.5px solid #000429;
  .wrapper {
    // width: 100%;
    // padding: 20px;
    // display: flex;
    // align-items: center;
    // justify-content: space-between;
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    align-content: space-between;


    .search {
      display: flex;
      align-items: center;
      border: 0.5px solid lightgray;
      padding: 3px;

      input {
        border: none;
        outline: none;
        background: transparent;

        &::placeholder {
          font-size: 12px;
        }
      }
    }

    .items {
      display: flex;
      align-items: center;
      

      .item {
        display: flex;
        align-items: center;
        margin-right: 20px;
        position: relative;
        align-items: center;
        padding: 3px;
        cursor: pointer;
        padding-bottom: 9px;

        .icon {
          font-size: 20px;
          color:#000429;
        }

        .avatar {
          width: 60px;
          height: 40px;
          border-radius: 50%;
          padding-left: 10px;
        }
        

        .counter {
          width: 15px;
          height: 15px;
          background-color: red;
          border-radius: 50%;
          color: white;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 10px;
          font-weight: bold;
          position: absolute;
          top: -5px;
          right: -5px;

          
        }
      }
    }
  }
}


.navbar.brown-theme{
  height: 65px;
  display: flex;
  align-items: stretch;
  background-color: rgb(153, 83, 83);
  position: static;
  justify-content: center;
  flex-wrap: wrap;
  align-content: space-around;
  position: -webkit-sticky !important;
  position: sticky !important;
  top: 0 !important;
  border-bottom: 0.5px solid #000429;
  .wrapper {
    // width: 100%;
    // padding: 20px;
    // display: flex;
    // align-items: center;
    // justify-content: space-between;
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    align-content: space-between;


    .search {
      display: flex;
      align-items: center;
      border: 0.5px solid lightgray;
      padding: 3px;

      input {
        border: none;
        outline: none;
        background: transparent;

        &::placeholder {
          font-size: 12px;
        }
      }
    }

    .items {
      display: flex;
      align-items: center;
      

      .item {
        display: flex;
        align-items: center;
        margin-right: 20px;
        position: relative;
        align-items: center;
        padding: 3px;
        cursor: pointer;
        padding-bottom: 9px;

        .icon {
          font-size: 20px;
          color:#000429;
        }

        .avatar {
          width: 60px;
          height: 40px;
          border-radius: 50%;
          padding-left: 10px;
        }
        

        .counter {
          width: 15px;
          height: 15px;
          background-color: red;
          border-radius: 50%;
          color: white;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 10px;
          font-weight: bold;
          position: absolute;
          top: -5px;
          right: -5px;

          
        }
      }
    }
  }
}
